body {
    margin: 0;
    background-color:  rgb(245, 245, 245);
    font-family: monospace;
}

ul {
    list-style: none;
}

/** Navigation bar**/
nav {
    background-color: rgb(245, 245, 245);
    width: 100%;
    padding-top: 15px;
    margin-bottom: 10%;
}

/** Navigation title**/
nav > ul > li {
    color: rgb(0, 0, 0);
    opacity: 90%;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline;
}

/** Navigation links regular**/
.navlinks {
    float: right;
    color: rgb(0, 0, 0);
    opacity: 90%;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    padding-right: 1rem;
}

.navlinks:hover {
    color:  rgb(30, 144, 255);
    opacity: 70%;
}

/**Menu bar for mobile**/
.menu-button {
    float: right;
    display: none;
    font-size: 2.5rem;
    font-weight: bold;
    padding-right: 2rem;
}

/** Hide the menu button initially**/
#nav-button {
    display: none;
}

/** Changing menu button and navigation style for mobile**/
@media (max-width: 650px) {
    .navlinks {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .menu-button:hover {
        cursor: pointer;
        color:  rgb(30, 144, 255);
        opacity: 70%;
    }

    #nav-button:checked ~ ul > li > a {
        position: relative;
        display: block;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: rgb(245, 245, 245);
        text-align: center;
        z-index: 1;
    }
}